# Project Specific
libcsv-3.0.3/Makefile
libcsv-3.0.3/.lib/*
libcsv-3.0.3/.deps/
libcsv-3.0.3/config.log
libcsv-3.0.3/autom4te.cache/
libcsv-3.0.3/config.status
libcsv-3.0.3/libtool

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
